*{
    margin: 0;
    padding: 0;
}
body{
   
    justify-content:center;
    align-items:center;
    height: 100vh;
    text-align:center;
    color:#fff;

    
}
header{
    max-width: 350px;
    justify-content:space-around;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    display:flex;
    background:grey;
    margin-top:40px;
   padding: 30px 10px;
}

img{
    border-radius:50%;
    margin-top:30px;
}
a{
   text-decoration:none;
   color:#fff;
}
p{
    margin-top:10px;
    font-size:12px;
}
h2{
    margin-top:20px;
    text-transform:
}

h2,h1{
    font-size:16px;
}